<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--BOOTSTRAP CDN-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!--JQUERY CDN-->
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.3.min.js" type="text/javascript"></script>
    
    <style type="text/css">
         nav {
            background-color: #5CACEE;
            padding-top: 0.8cm;
            padding-bottom: 0.8cm;
         }
         nav label {
            color: white;
         }

    </style>
</head>

<body>
    <h1> hello! {{ current_user.nickname }}</h1>
    </br>


    <div class="container">
        <nav class="navbar row">
            <form action = "/user_dashboard/handle_log_out" method = "post" class="form-inline col-md-5 col-md-offset-7">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-default">log out</button>
            </form>

            <form enctype="multipart/form-data" action = "/user_dashboard/handle_file_upload" method = "post" class="form-inline col-md-5 col-md-offset-7">
                {% csrf_token %}
                <input name = "file_upload" type="file" class="form-control input-sm">
                <button type="submit" class="btn btn-sm btn-default">upload</button>
            </form>
        </nav>
    </div>
    </br>
    <h3>your detailed information</h3>
    <h4> {{ current_user.get_full_name }} </h4>
    </br>
    <h3>the list of files you have uploaded</h3>
    <ol>
        {% for file in current_user.document_set.all %}
        <li>
            <form method="get" action="/file_viewer/" style="display: inline-block;">
                {% csrf_token %}
                {{ file.file_field.name }}
                <button type="submit" name="document_id" value={{ file.id }}>open</button>
            </form>
            <form method="post" action="/user_dashboard/handle_delete" style="display: inline-block;">
                {% csrf_token %}
                <button type="submit" name="document_id" value={{ file.id }}>delete</button>
            </form>
        </li>
        {% endfor %}
    </ol>

</body>
</html>