{% for annotation in annotations %}
<hr>
<blockquote class="AnnotationBlock" annotation_id="{{ annotation.id }}">
    <!--annotation-->
    <div class="content-markdown"> {{ annotation.content|safe|linebreaks }} </div>
    <button name="annotation_id" value="{{ annotation.id }}" class="likeAnnotationButton glyphicon glyphicon-thumbs-up"></button>
    <bold id="num_like">{{ annotation.num_like }}</bold>
    <footer>
        <img class="img-rounded" src="{{ annotation.annotator.portrait_url }}" height="60" width="60">
        {{ annotation.annotator.nickname }} | {{ annotation.post_time }}
        <button class="reply_annotation_button btn btn-link">reply</button>
        <form style="display: none">
            <textarea name="annotation_reply_content" class="form-control" rows="2" style="resize: vertical"></textarea>
            <button type="button" class="post_annotation_reply_button btn btn-sm btn-info" name="annotation_id" value="{{ annotation.id }}" style="margin-top: 8px; float: right;" > reply</button>
        </form>
    </footer>

    <!--annotation replies-->
    {% for annotation_reply in annotation.annotationreply_set.all|dictsort:"post_time" %}
        <blockquote class="AnnotationReplyBlock" annotation_id="{{ annotation_reply.id }}">
            <footer style="float: right;">
            {% if annotation_reply.reply_to_annotation_reply.replier %}
                reply to {{ annotation_reply.reply_to_annotation_reply.replier.nickname }} ({{ annotation_reply.reply_to_annotation_reply.replier.email_address }})
            {% endif %}
            </footer>
            <div class="content-markdown"> {{ annotation_reply.content|safe|linebreaks }} </div>
            <footer>
                <img class="img-rounded" src="{{ annotation_reply.replier.portrait_url }}" height="60" width="60">
                {{ annotation_reply.replier.nickname }} | {{ annotation_reply.post_time }}
                <button class="reply_annotation_button btn btn-link">reply</button>
                <form style="display: none">
                    <textarea name="reply_reply_content" class="form-control" rows="2" style="resize: vertical"></textarea>
                    <button type="button" class="post_reply_reply_button btn btn-sm btn-info" name="reply_to_annotation_reply_id" value="{{ annotation_reply.id }}" style="margin-top: 8px; float: right;" > reply</button>
                </form>
            </footer>
        </blockquote>
    {% endfor %}
</blockquote>
{% endfor %}

<script>
$(document).ready(function() {
    new_annotation_id = '{{ new_annotation_id }}'

    $(".post_annotation_reply_button").on("click", function() {
        var thisButton = $(this);
        var index = layer.load(0, {shade: 0.18}); //0代表加载的风格，支持0-2
        $.ajax({
            type: "POST",
            url: "",
            data: {
                csrfmiddlewaretoken: getCookie('csrftoken'),
                operation: "reply_annotation",
                annotation_reply_content: thisButton.prev("textarea[name='annotation_reply_content']").val(),
                reply_to_annotation_id: thisButton.val(),
                document_id: $("button[name='document_id']").val(),
            },
            success: function (data) {
                $("#annotation_update_div").html(data);
                layer.close(index);
            }
        })
    })
    $(".post_reply_reply_button").on("click", function() {
        var thisButton = $(this);
        var index = layer.load(0, {shade: 0.18}); //0代表加载的风格，支持0-2
        $.ajax({
            type: "POST",
            url: "",
            data: {
                csrfmiddlewaretoken: getCookie('csrftoken'),
                operation: "reply_annotation",
                annotation_reply_content: thisButton.prev("textarea[name='reply_reply_content']").val(),
                reply_to_annotation_id: thisButton.parents(".AnnotationBlock").find(".post_annotation_reply_button").val(),
                reply_to_annotation_reply_id: thisButton.val(),
                document_id: $("button[name='document_id']").val(),
            },
            success: function (data) {
                $("#annotation_update_div").html(data);
                layer.close(index);
            }
        })
    })
    $(".reply_annotation_button").on("click", function() {
        $(this).next("form").slideToggle(180);
    })
    $(".likeAnnotationButton").click(function () {
        var $this_button = $(this);
        $.ajax({
            type: "POST",
            url: "",
            data: {
                csrfmiddlewaretoken: "{{ csrf_token }}",
                operation: "like_annotation",
                annotation_id: $this_button.val(),
            },
            success: function () {
                var new_num = parseInt($this_button.next().text()) + 1;
                $this_button.next().text(new_num.toString());
            },
        })
    });
    $(".AnnotationBlock").on("mouseover", function() {
        var annotation_id = $(this).attr("annotation_id");
        var Annotation = $(".Annotation[annotation_id='" + annotation_id + "']")
        $(this).css("background", Annotation.css("background"));
        Annotation.css("border", "1px solid #0F0F0F");
    });
    $(".AnnotationBlock").on("mouseout", function() {
        var annotation_id = $(this).attr("annotation_id");
        var Annotation = $(".Annotation[annotation_id='" + annotation_id + "']")
        $(this).css("background", "white");
        Annotation.css("border", "none");
    });
    $(".AnnotationBlock").on("click", function() {
        var annotation_id = $(this).attr("annotation_id");
        var Annotation = $(".Annotation[annotation_id='" + annotation_id + "']")
        var pageDiv = Annotation.parents(".PageDiv, .page_div");
        scrollPageDivIntoView(pageDiv);
    });
});
</script>