{% for annotation in annotations %}
<hr>
<blockquote class="AnnotationBlock" annotation_id="{{ annotation.id }}">
    <div class="content-markdown"> {{ annotation.content|safe }} </div>
    <button name="annotation_id" value="{{ annotation.id }}" class="likeAnnotationButton glyphicon glyphicon-thumbs-up"></button>
    <bold id="num_like">{{ annotation.num_like }}</bold>
    <footer>
        <img class="img-rounded" src="{{ annotation.annotator.portrait_url }}" height="60" width="60">
        {{ annotation.annotator.nickname }} | {{ annotation.post_time }}
    </footer>
</blockquote>
{% endfor %}

<script>
$(document).ready(function() {
    new_annotation_id = '{{ new_annotation_id }}'

    $(".likeAnnotationButton").click(function () {
        var $this_button = $(this);
        $.ajax({
            type: "POST",
            url: "",
            data: {
                csrfmiddlewaretoken: "{{ csrf_token }}",
                operation: "like_annotation",
                annotation_id: $this_button.val(),
            },
            success: function () {
                var new_num = parseInt($this_button.next().text()) + 1;
                $this_button.next().text(new_num.toString());
            },
        })
    });
    $(".AnnotationBlock").on("mouseover", function() {
        var annotation_id = $(this).attr("annotation_id");
        var Annotation = $(".Annotation[annotation_id='" + annotation_id + "']")
        $(this).css("background", Annotation.css("background"));
        Annotation.css("border", "1px solid #0F0F0F");
    })
    $(".AnnotationBlock").on("mouseout", function() {
        var annotation_id = $(this).attr("annotation_id");
        var Annotation = $(".Annotation[annotation_id='" + annotation_id + "']")
        $(this).css("background", "white");
        Annotation.css("border", "none");
    })
    $(".AnnotationBlock").on("click", function() {
        var annotation_id = $(this).attr("annotation_id");
        var Annotation = $(".Annotation[annotation_id='" + annotation_id + "']")
        var pageDiv = Annotation.parents(".PageDiv, .page_div");
        scrollPageDivIntoView(pageDiv);
    })
});
</script>