{% for annotation in annotations %}
<hr>
<blockquote>
    <div class="content-markdown"> {{ annotation.content|safe }} </div>
    <button name="annotation_id" value="{{ annotation.id }}" class="likeAnnotationButton glyphicon glyphicon-thumbs-up"></button>
    <bold id="num_like">{{ annotation.num_like }}</bold>
    <footer>
        <img class="img-rounded" src="{{ annotation.annotator.portrait_url }}" height="80" width="80">
        {{ annotation.annotator.nickname }} | {{ annotation.post_time }}
    </footer>
</blockquote>
</hr>
{% endfor %}

<script>
$(document).ready(function() {
    $(".likeAnnotationButton").click(function () {
        var $this_button = $(this);
        $.ajax({
            type: "POST",
            url: "",
            data: {
                csrfmiddlewaretoken: "{{ csrf_token }}",
                operation: "like_annotation",
                annotation_id: $this_button.val(),
            },
            success: function () {
                var new_num = parseInt($this_button.next().text()) + 1;
                $this_button.next().text(new_num.toString());
            },
        })
    });
});
</script>