{% for comment in comments %}
<hr>
<blockquote>
    <footer style="float: right;">
    {% if comment.reply_to_comment.commenter %}
        reply to {{ comment.reply_to_comment.commenter.nickname }} ({{ comment.reply_to_comment.commenter.email_address }})
    {% endif %}
    </footer><br>
    <div class="content-markdown"> {{ comment.content|safe|linebreaks }} </div>
    <span style="cursor: pointer;" comment_id="{{ comment.id }}" class="likeCommentButton glyphicon glyphicon-thumbs-up"></span>
    <bold id="num_like">{{ comment.num_like }}</bold>
    <footer>
        <img class="img-rounded" src="{{ comment.commenter.portrait_url }}" height="80" width="80">
        {{ comment.commenter.nickname }} | {{ comment.post_time }}
        <button class="reply_comment_button btn btn-link">reply</button>
        <form class="reply_comment_form" style="display: none">
            <textarea name="comment_content" class="form-control" rows="2" style="resize: vertical"></textarea>
            <button type="button" class="post_comment_reply_button btn btn-sm btn-info" name="comment_id" value="{{ comment.id }}" style="margin-top: 8px; float: right;" > reply</button>
        </form>
    </footer>
</blockquote>
{% endfor %}
