<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">

        <!--JQUERY CDN-->
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.3.min.js" type="text/javascript"></script>

        <!--BOOTSTRAP CDN-->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <!--support marked down for comment-->
        <script src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>

        <!--jquery.ui-->
        <script src="http://code.jquery.com/ui/1.12.0-rc.2/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css"/>

        <script src="/static/js/file_viewer_script.js"></script>
        <link rel="stylesheet" href="/static/css/file_viewer.css">
    </head>
    
    <body>
        <div id="navbar">
            <a version="1.0" class="qzOpenerDiv" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_likeurl" target="_blank">赞</a>
            <script  src="http://qzonestyle.gtimg.cn/qzone/app/qzlike/qzopensl.js#jsdate=20111107&style=2&showcount=1&width=130&height=30" charset="utf-8" defer="defer" ></script>
            <script type="text/javascript">
                (function() {
                    var p = {
                        url: location.href,
                        showcount: '0',/*是否显示分享总数,显示：'1'，不显示：'0' */
                        desc: '',/*默认分享理由(可选)*/
                        summary: '',/*分享摘要(可选)*/
                        title: '',/*分享标题(可选)*/
                        site: '',/*分享来源 如：腾讯网(可选)*/
                        pics: '', /*分享图片的路径(可选)*/
                        style: '102',
                        width: 145,
                        height: 30
                    };
                    var s = [];
                    for (var i in p) {
                        s.push(i + '=' + encodeURIComponent(p[i]||''));
                    }
                    document.write(['<a version="1.0" class="qzOpenerDiv" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?',s.join('&'),'" target="_blank">分享</a>'].join(''));
                })();
            </script>
            <script src="http://qzonestyle.gtimg.cn/qzone/app/qzlike/qzopensl.js#jsdate=20111201" charset="utf-8"></script>


            <button type="button" id="toggle_annotation_frame_button">hide(display) annotation frame</button>
            <button type="button" id="comment_button" data-toggle="modal" data-target="#comment_modal">
                comments
            </button>
            <div id="resize_buttons_div">
                <button type="button" id="buttonForLarger">+</button>
                <button type="button" id="buttonForSmaller">-</button>
            </div>
            <div id="annotation_color_buttons_div">
                <button type="button" class="btn btn-lg" style="background-color: rgba(0,0,0,0.18)" id="default_color"></button> 
                <button type="button" class="btn btn-lg" style="background-color: rgba(0,191,255,0.18)" id="blue_color"></button> 
                <button type="button" class="btn btn-lg" style="background-color: rgba(127, 255, 0, 0.18)" id="green_color"></button> 
                <button type="button" class="btn btn-lg" style="background-color: rgba(255, 0, 0, 0.18)" id="red_color"></button>
            </div>
        </div>

        <div id="wrapper">
            <div id="fileViewer">
                {% for page in pages %}
                <div class="PageDiv">
                    <img class="PageImg" src={{ page }}>
                </div>
                <br>
                {% endfor %}
            </div>

            <div id="commentsViewer">
                <h1>wocao</h1>
                <h1>wocao</h1>
                <h1>wocao</h1>
                <h1>wocao</h1>
                <h1>wocao</h1>
                <h1>wocao</h1>
                <h1>wocao</h1>
                <h1>wocao</h1>
                <h1>wocao</h1>
            </div>

            <div class="modal fade" id="comment_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal_content">
                        <div class="modal-content">
                            <div class="modal-header">

                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    sorted by
                                    <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li>time</li>
                                        <li>like</li>
                                    </ul>
                                </div>

                                <button id="refresh_comment_button" type="button" class="btn btn-default">refresh comment</button>

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>

                            <div class="modal-body" id="comment_update_div">
                                {% include "file_viewer/comment_viewer_page.html" %}
                            </div>

                            <div class="modal-footer"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="annotation_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal_content">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>

                            <div class="modal-body" id="comment_update_div">
                                   <form id="comment_form">
                                    <textarea name="comment_content" class="form-control" rows="2" style="resize: vertical"></textarea>
                                    <!--i use ajax to submit instead of using submit button-->
                                    <button id="post_comment_button" type="button" class="btn btn-info" name="document_id" value="{{ document.id }}" style="margin-top: 8px; float: right;">post annotation</button>
                                </form>
                            </div>

                            <div class="modal-footer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        startListeningSelectionBoxCreation();
    </script>
</html>