<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">

        <!--JQUERY CDN-->
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.3.min.js" type="text/javascript"></script>

        <!--BOOTSTRAP CDN-->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <!--support marked down for comment-->
        <script src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>

        <!--pdf.js-->
        <script src="/static/pdfjs/compatibility.js"></script>
        <script src="/static/pdfjs/pdf.js"></script>
        <script src="/static/pdfjs/pdf.worker.js"></script>

        <!--jquery.ui-->
        <script src="http://code.jquery.com/ui/1.12.0-rc.2/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css"/>

        <script src="/static/js/file_viewer_script.js"></script>
        <link rel="stylesheet" href="/static/css/file_viewer.css">
    </head>
    
    <body>
        {% include "file_viewer/nav_bar_subpage.html" %}

        <div id="wrapper">
            <div id="fileViewer">

            </div>

            <div id="commentsViewer">
                <h1>wocao</h1>
                <h1>wocao</h1>
                <h1>wocao</h1>
                <h1>wocao</h1>
                <h1>wocao</h1>
                <h1>wocao</h1>
                <h1>wocao</h1>
                <h1>wocao</h1>
                <h1>wocao</h1>
            </div>

            <div class="modal fade" id="comment_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal_content">
                        <div class="modal-content">
                            <div class="modal-header">

                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    sorted by
                                    <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li>time</li>
                                        <li>like</li>
                                    </ul>
                                </div>

                                <button id="refresh_comment_button" type="button" class="btn btn-default">refresh comment</button>

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>

                            <div class="modal-body" id="comment_update_div">
                                {% include "file_viewer/comment_viewer_subpage.html" %}
                            </div>

                            <div class="modal-footer"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="annotation_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal_content">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>

                            <div class="modal-body" id="comment_update_div">
                                   <form id="comment_form">
                                    <textarea name="comment_content" class="form-control" rows="2" style="resize: vertical"></textarea>
                                    <!--i use ajax to submit instead of using submit button-->
                                    <button id="post_comment_button" type="button" class="btn btn-info" name="document_id" value="{{ document.id }}" style="margin-top: 8px; float: right;">post annotation</button>
                                </form>
                            </div>

                            <div class="modal-footer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

<script>
var pdfDoc;
var scale = 0.8;

/**
 * start from the "num"th page (included), rendered the following "rest" pages
 * @param  {int} num - the index of the page where rendering start
 * @param  {int} rest - total number of continual pages that will be rendered
 * @param  {float} scale - the scale of rendering
 * @return {undefined}    
 */
function renderPages(num, rest, scale) {
    pdfDoc.getPage(num).then(function(page) {

        next_page_canvas_id = "page_canvas_" + num;
        var canvas = document.getElementById(next_page_canvas_id);
        var context = canvas.getContext('2d');
        var viewport = page.getViewport(scale);
        canvas.height = viewport.height;
        canvas.width = viewport.width;

        var renderContext = {
            canvasContext: context,
            viewport: viewport
        };
        
        var renderTask = page.render(renderContext);

        // when the rendering of the current page is finished, 
        // if this is not the last page, and, if 
        // render the next page         
        renderTask.promise.then(function() {
            if (num < pdfDoc.numPages && rest > 1)
                renderPages(num + 1, rest - 1, scale);
        });
    });
}

function prepareAndRenderAll(scale) {
    var url = "{{ file_url }}";
    PDFJS.workerSrc = '/static/pdfjs/pdf.worker.js';

    PDFJS.getDocument(url).then(function(pdf) {
        pdfDoc = pdf;
        
        // assign value to global variabe: numPages, this variable is to used with scroll bar to recognize which page the reader is reading
        numPages = pdfDoc.numPages;
        prepareScrollPageIntoView();
        
        // create the same number of canvases as pages
        // also 
        // initialize the canvases' height and width according to the first
        pdfDoc.getPage(1).then(function(sample_page) {
            var appendPages = ""
            var sample__height = sample_page.getViewport(scale).height;
            var sample__width = sample_page.getViewport(scale).width;

            for (var i = 1; i <= pdfDoc.numPages; i++) {
                new_page_div_id = "page_div_" + i;
                new_page_canvas_id = "page_canvas_" + i;

                new_page = "<div class='page_div' id=" + "'" + new_page_div_id +  "'>" + 
                            "<canvas class='PageCanvas' id=" + "'" + new_page_canvas_id + "'" + "></canvas>" +
                            "</div>" +
                            "<br>";
                appendPages = appendPages + new_page;
            }

            $("#fileViewer").append(appendPages);

            $(".page_div").css("height", (sample__height + 6) + "px")
            $(".page_div").css("width", (sample__width + 6) + "px")

            startListeningSelectionBoxCreation();

        });

        // start from the first page, render all following pages
        renderPages(1, Infinity, scale);
    });
}

prepareAndRenderAll(scale);

/*
var previous = 1;

$("#fileViewer").scroll(function() {
    var percentage = this.scrollTop / (this.scrollHeight - this.clientHeight);
    page_index = Math.round(percentage * numPages) + 1;
    if (page_index != previous) {
        var id = "page_canvas_" + previous;
        previous = page_index;
        var pre = document.getElementById(id);
        pre.getContext('2d').clearRect(0, 0, pre.width, pre.height);
        renderPages(page_index, 1, scale)
    }
});
*/
</script>

</html>
