<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">

        <!--JQUERY CDN-->
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.3.min.js" type="text/javascript"></script>

        <!--BOOTSTRAP CDN-->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <!--support marked down for comment-->
        <script src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>

        <!--pdf.js-->
        <script src="/static/pdfjs/compatibility.js"></script>
        <script src="/static/pdfjs/pdf.js"></script>
        <script src="/static/pdfjs/pdf.worker.js"></script>

        <!--jquery.ui-->
        <script src="http://code.jquery.com/ui/1.12.0-rc.2/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css"/>

        <script src="/static/js/file_viewer_script.js"></script>
        <link rel="stylesheet" href="/static/css/file_viewer.css">
    </head>
    
    <body>
        {% include "file_viewer/nav_bar_subpage.html" %}

        <div id="wrapper">
            <div id="file_viewer">

            </div>

            <div id="comments_viewer">
                <h1>wocao</h1>
                <h1>wocao</h1>
                <h1>wocao</h1>
                <h1>wocao</h1>
                <h1>wocao</h1>
                <h1>wocao</h1>
                <h1>wocao</h1>
                <h1>wocao</h1>
                <h1>wocao</h1>
            </div>

            <div class="modal fade" id="comment_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal_content">
                        <div class="modal-content">
                            <div class="modal-header">

                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    sorted by
                                    <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li>time</li>
                                        <li>like</li>
                                    </ul>
                                </div>

                                <button id="refresh_comment_button" type="button" class="btn btn-default">refresh comment</button>

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>

                            <div class="modal-body" id="comment_update_div">
                                {% include "file_viewer/comment_viewer_subpage.html" %}
                            </div>

                            <div class="modal-footer"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="annotation_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal_content">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>

                            <div class="modal-body" id="comment_update_div">
                                   <form id="comment_form">
                                    <textarea name="comment_content" class="form-control" rows="2" style="resize: vertical"></textarea>
                                    <!--i use ajax to submit instead of using submit button-->
                                    <button id="post_comment_button" type="button" class="btn btn-info" name="document_id" value="{{ document.id }}" style="margin-top: 8px; float: right;">post annotation</button>
                                </form>
                            </div>

                            <div class="modal-footer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

<script>
var pdfDoc;
var scale = 1;
var finishList = [];
var taskList = [];
var rendering = false;
var scaleFactor = 1.08;
var sampleWidth;
var sampleHeight;
    
$("#buttonForLarger").on('click', function () {
    scale *= scaleFactor;
    
    if (taskList.length > 0) {
        while (taskList.length > 1) 
            taskList.pop();
        taskList.push([taskList[0][0], "PENDING", null])
    }

    for(var i = 0; i < finishList.length; i++) {
        var id = "page_canvas_" + finishList[i];
        var pre = document.getElementById(id);
        pre.width = 0; 
        pre.height = 0; 
        taskList.push([finishList[i], "PENDING", null]);
    }

    finishList = [];
    if(!rendering)
        renderTaskList(taskList, finishList, scale);
    
    var oldScrollHeight = $("#file_viewer")[0].scrollHeight;
    
    sampleWidth *= scaleFactor;
    sampleHeight *= scaleFactor;
    $(".page_div").each(function() {
        var div = $(this);
        div.css("width", sampleWidth + 6 + "px");
        div.css("height", sampleHeight + 6 + "px");              
    });
    resizeAnnotations(scaleFactor);

    var factor = $("#file_viewer")[0].scrollHeight / oldScrollHeight
    $("#file_viewer").scrollTop(parseFloat($("#file_viewer").scrollTop()) * factor);
});
$("#buttonForSmaller").on('click', function () {
    scale /= scaleFactor;
    
    if (taskList.length > 0) {
        while (taskList.length > 1) 
            taskList.pop();
        taskList.push([taskList[0][0], "PENDING", null])
    }

    for(var i = 0; i < finishList.length; i++) {
        var id = "page_canvas_" + finishList[i];
        var pre = document.getElementById(id);
        pre.width = 0; 
        pre.height = 0; 
        taskList.push([finishList[i], "PENDING", null]);
    }

    finishList = [];
    if(!rendering)
        renderTaskList(taskList, finishList, scale);
    
    var oldScrollHeight = $("#file_viewer")[0].scrollHeight;
    
    sampleWidth /= scaleFactor;
    sampleHeight /= scaleFactor;
    $(".page_div").each(function() {
        var div = $(this);
        div.css("width", sampleWidth + 6 + "px");
        div.css("height", sampleHeight + 6 + "px");              
    });
    resizeAnnotations(1 / scaleFactor);

    var factor = $("#file_viewer")[0].scrollHeight / oldScrollHeight
    $("#file_viewer").scrollTop(parseFloat($("#file_viewer").scrollTop()) * factor);
});

function renderTaskList(taskList, finishList, scale) {
    if (taskList.length > 0) {
        rendering = true;
        $("#buttonForLarger, #buttonForSmaller").attr("disabled", true);
        var num = taskList[0][0];
        pdfDoc.getPage(num).then(function(page) {
            var page_canvas_id = "page_canvas_" + num;
            var canvas = document.getElementById(page_canvas_id);
            var context = canvas.getContext('2d');
            var viewport = page.getViewport(scale);
            canvas.height = viewport.height;
            canvas.width = viewport.width;

            var renderContext = {
                canvasContext: context,
                viewport: viewport,
            };
            
            taskList[0][2] = page.render(renderContext);  // taskList[0][2] is a RenderTask object
            taskList[0][1] = "RENDERING";
         
            taskList[0][2].promise.then(function() {
                taskList.shift();
                finishList.push(num);
                rendering = false;
                $("#buttonForLarger, #buttonForSmaller").attr("disabled", false　);
                renderTaskList(taskList, finishList, scale);
            }, function (reason) {
              console.log("rejected because of this reason: " + reason);
            });
        });
    }
}

function prepareAndRenderAll(scale) {
    var url = "{{ file_url }}";
    PDFJS.workerSrc = '/static/pdfjs/pdf.worker.js';

    PDFJS.getDocument(url).then(function(pdf) {
        pdfDoc = pdf;
        
        numPages = pdfDoc.numPages;
        prepareScrollPageIntoView();
        
        // create the same number of canvases as pages
        // also 
        // initialize the canvases' height and width according to the first page
        pdfDoc.getPage(1).then(function(sample_page) {
            samplePage = sample_page;
            var appendPages = ""
            sampleHeight = sample_page.getViewport(scale).height;
            sampleWidth = sample_page.getViewport(scale).width;

            for (var i = 1; i <= pdfDoc.numPages; i++) {
                new_page_div_id = "page_div_" + i;
                new_page_canvas_id = "page_canvas_" + i;

                new_page = "<div class='page_div' id=" + "'" + new_page_div_id +  "'>" + 
                            "<canvas class='PageCanvas' id=" + "'" + new_page_canvas_id + "'" + "></canvas>" + 
                            "</div>" +
                            "<br>";
                appendPages = appendPages + new_page;
            }

            $("#file_viewer").append(appendPages);

            $(".page_div").css("height", (sampleHeight + 6) + "px")
            $(".page_div").css("width", (sampleWidth + 6) + "px")

            startListeningSelectionBoxCreation();

        });

        taskList.push([Math.min(numPages, 1), "PENDING", null]);
        taskList.push([Math.min(numPages, 2), "PENDING", null]);
        taskList.push([Math.min(numPages, 3), "PENDING", null]);
        taskList.push([Math.min(numPages, 4), "PENDING", null]);
        taskList.push([Math.min(numPages, 5), "PENDING", null]);
        renderTaskList(taskList, finishList, scale);

        startListeningScroll();
    });
}

prepareAndRenderAll(scale);

function startListeningScroll() {
    var previous = 1;

    $("#file_viewer").scroll(function() {
        var percentage = this.scrollTop / this.scrollHeight;
        page_index = Math.ceil(percentage * numPages);
        if (page_index != previous) {

            // console.log(finishList);
            // for(var i = 0; i < taskList.length; i++)
            //     console.log(taskList[i])

            previous = page_index;

            var renderOrNot = [true, true, true, true, true];
            // clear pages which are out of view
            var index = 0;
            var originalLength = finishList.length
            for (var i = 0; i < originalLength; i++) {
                if (finishList[index] - page_index >= -1 && finishList[index] - page_index <= 3) {
                    renderOrNot[finishList[index] - page_index + 1] = false;
                    index += 1;
                }
                else {
                    var id = "page_canvas_" + finishList[index];
                    var pre = document.getElementById(id);
                    pre.width = 0; 
                    pre.height = 0; 
                    //pre.getContext('2d').clearRect(0, 0, pre.width, pre.height);
                    finishList.splice(index, 1);
                }
            }

            // keep the first renderTask since it is still in RENDERING status,
            // delete the rest since they are in PENDING status
            while (taskList.length > 1) {
                taskList.pop();
            }

            // add in the new task
            for (var i = 0; i < 5; i++) {
                if (renderOrNot[i] == true)
                    taskList.push([Math.min(numPages, Math.max(1, page_index + i - 1)), "PENDING", null]);
            }

            if (!rendering)
                renderTaskList(taskList, finishList, scale);
        }
    });
}
</script>

</html>
